<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="background-color: rgb(122, 90, 15);">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a routerLink="" class="nav-link " id="nav-item">Home</a>
            </li>
        <li class="nav-item active" >
          <a routerLink="view-orders" class="nav-link" id="nav-item">Orders</a>
        </li>
        <li class="nav-item">
            <a routerLink="place-order" class="nav-link" id="nav-item">Place order</a>
        </li>
      </ul>
    </div>
</nav>



